<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="1" android:versionName="2.4.1" package="org.exoplatform.poc.tabletversion">

    <supports-screens android:smallScreens="false"/>

    <!-- Application Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <!-- Application Uses SDK -->
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="17"/>

    <!-- Application Information -->
    <application android:allowBackup="true" android:icon="@drawable/application_icon" android:label="eXo Tablet Version POC" android:name="org.exoplatform.ExoApplication" android:theme="@style/Theme.eXo">

        <!-- First Activity of the Application -->
        <activity android:name="org.exoplatform.ui.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:configChanges="keyboardHidden|orientation" android:name="org.exoplatform.ui.WelcomeActivity"/>
        <activity android:name="org.exoplatform.ui.login.LoginActivity" android:windowSoftInputMode="adjustResize|stateHidden">
            <!-- custom URL scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="exomobile"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name="org.exoplatform.ui.HomeActivity"/>

        <activity android:name="org.exoplatform.ui.setting.SettingActivity" />
        <activity android:name="org.exoplatform.ui.setting.ServerEditionActivity"/>

        <activity android:name="org.exoplatform.ui.social.SocialTabsActivity"
                  android:theme="@style/Theme.PageIndicatorDefaults"
                  android:parentActivityName="org.exoplatform.ui.HomeActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="org.exoplatform.ui.HomeActivity" />
        </activity>

        <activity android:name="org.exoplatform.ui.DocumentActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:parentActivityName="org.exoplatform.ui.HomeActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="org.exoplatform.ui.HomeActivity" />
        </activity>

        <activity android:name="org.exoplatform.ui.DashboardActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:parentActivityName="org.exoplatform.ui.HomeActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="org.exoplatform.ui.HomeActivity" />
        </activity>

        <activity android:configChanges="keyboardHidden|orientation" android:name="org.exoplatform.ui.DocumentActionDialog"/>
        <activity android:configChanges="orientation" android:name="org.exoplatform.ui.WebViewActivity"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="org.exoplatform.ui.social.SocialDetailActivity"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="org.exoplatform.ui.social.ComposeMessageActivity"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="org.exoplatform.ui.social.SelectedImageActivity"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="org.exoplatform.ui.social.SocialAttachedImageActivity"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="org.exoplatform.ui.social.LikeListActivity"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="org.exoplatform.ui.SignUpActivity"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="org.exoplatform.ui.SignInActivity"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="org.exoplatform.ui.SignInOnPremiseActivity"/>
    </application>

</manifest>