<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="18" android:versionName="2.8" package="org.exoplatform">
    <supports-screens android:smallScreens="false"/>

    <!-- Application Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <!-- SDK -->
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21"/>

    <!-- Application Information -->
    <application android:allowBackup="true" android:icon="@drawable/application_icon" android:label="eXo" android:name=".ExoApplication" android:theme="@style/Theme.eXo">

        <!-- First Activity of the Application -->
        <activity android:name=".ui.LaunchActivity" android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- 
           Configuration Assistant
          -->
        <activity android:name=".ui.WelcomeActivity" android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name=".ui.SignUpActivity" android:parentActivityName=".ui.WelcomeActivity">
            <!-- For API v14 & 15 -->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ui.WelcomeActivity"/>
        </activity>
        <activity android:name=".ui.SignInActivity" android:parentActivityName=".ui.WelcomeActivity">
            <!-- For API v14 & 15 -->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ui.WelcomeActivity"/>
        </activity>
        <activity android:name=".ui.SignInOnPremiseActivity" android:parentActivityName=".ui.SignInActivity">
            <!-- For API v14 & 15 -->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ui.SignInActivity"/>
        </activity>
        
        <!--
           Authentication
          -->
        <activity android:name=".ui.login.LoginActivity" android:theme="@style/Theme.OverlayActionBar" android:windowSoftInputMode="adjustResize|stateHidden">
            <!-- custom URL scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="exomobile"/>
            </intent-filter>
        </activity>
        
        <!--
           Home Dashboard
          -->
        <activity android:configChanges="keyboardHidden|orientation" android:logo="@drawable/exo_logo_large" android:name=".ui.HomeActivity"/>
        
        <!--
           Settings
          -->
        <activity android:name=".ui.setting.SettingActivity"/>
        <activity android:name=".ui.setting.ServerEditionActivity" android:parentActivityName=".ui.setting.SettingActivity">
            <!-- For API v14 & 15 -->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ui.setting.SettingActivity"/>
        </activity>
        
        <!--
           Documents
          -->
        <activity android:configChanges="keyboardHidden|orientation" android:name=".ui.DocumentActivity" android:parentActivityName=".ui.HomeActivity">
            <!-- For API v14 & 15 -->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ui.HomeActivity"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".ui.DocumentActionDialog"/>
        
        <!--
           Gadgets (Apps)
          -->
        <activity android:configChanges="keyboardHidden|orientation" android:name=".ui.DashboardActivity" android:parentActivityName=".ui.HomeActivity">
            <!-- For API v14 & 15 -->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ui.HomeActivity"/>
        </activity>
        <activity android:configChanges="orientation" android:name=".ui.WebViewActivity"/>
        
        <!--
           Social (Activity Stream, Details, Composer, Likers)
          -->
        <activity android:configChanges="keyboardHidden|orientation" android:name=".ui.social.SocialTabsActivity" android:parentActivityName=".ui.HomeActivity" android:theme="@style/Theme.PageIndicatorDefaults">
            <!-- For API v14 & 15 -->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ui.HomeActivity"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".ui.social.SocialDetailActivity" android:parentActivityName=".ui.social.SocialTabsActivity">
            <!-- For API v14 & 15 -->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ui.social.SocialTabsActivity"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".ui.social.LikeListActivity" android:parentActivityName=".ui.social.SocialDetailActivity">
            <!-- For API v14 & 15 -->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ui.social.SocialDetailActivity"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".ui.social.ComposeMessageActivity"/>
        <activity android:name=".ui.social.SpaceSelectorActivity" android:parentActivityName=".ui.social.ComposeMessageActivity">
            <!-- For API v14 & 15 -->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ui.social.ComposeMessageActivity"/>
            
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".ui.social.SelectedImageActivity"/>
        
        <!--
           Account Switcher
          -->
        <activity android:name=".accountswitcher.AccountSwitcherActivity"/>


        <!--
           Share Extension
          -->
        <activity android:configChanges="keyboardHidden|orientation" android:label="eXo" android:name=".shareextension.ShareActivity">

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity>
        
        <!--
           Services 
          -->
        <service android:exported="false" android:name="org.exoplatform.shareextension.service.ShareService"/>
        
        <!-- Other -->
        <meta-data android:name="com.crashlytics.ApiKey" android:value="b8421f485868032ad402cef01a4bd7c70263d97e"/>
    </application>

</manifest>